.b1{
    background-color: bisque;
    height: 120px;
}
.b2{
    background-color: aqua;
}
.b3{
    background-color:rgb(115, 175, 175);
}

.message{
    height: 100px;
    width: 300px;
    border: 2px solid black;
    background-color: hsla(187, 84%, 39%, 0.105);
  }

  .box{
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .display{
    border: 2px solid hsla(199, 100%, 50%, 0.653);
  }